{% load static %}

<footer id="Footer" class="clearfix">
  <div class="widgets_wrapper">
    <div class="container">
      <div class="column one">
        <aside class="widget_text widget widget_custom_html">
          <div class="textwidget custom-html-widget">
            <div style="text-align:center;">
              <img src="{% static 'images/bayturbologo.png' %}">
              <hr class="no_line" style="margin: 0 auto 30px;">
              <p>
                Bay Turbo
                <br><a href="#" >info@bayturbo.com</a>
              </p>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <div class="footer_copy">
    <div class="container">
      <div class="column one">
        <a id="back_to_top" class="button button_js" href><i class="icon-up-open-big"></i></a>
        <div class="copyright">
          &copy; 2021 BayTurbo
        </div>
        <ul class="social">
          <li class="skype">
            <a href="#" title="Skype"><i class="icon-skype"></i></a>
          </li>
          <li class="whatsapp">
            <a href="#" title="WhatsApp"><i class="icon-whatsapp"></i></a>
          </li>
          <li class="facebook">
            <a href="#" title="Facebook"><i class="icon-facebook"></i></a>
          </li>
          <li class="twitter">
            <a href="#" title="Twitter"><i class="icon-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
