{% load static %}

<div class="column one">
  <div class="top_bar_left clearfix">
    <div class="logo">
      <a id="logo" href="index-mechanic4.html" title="BeMechanic 4 - BeTheme" data-height="55" data-padding="15">
        <img class="logo-main scale-with-grid" src="{% static 'images/bayturbologo.png' %}" data-retina="content/mechanic4/images/logo-retina.png" data-height="36" data-no-retina>
        <img class="logo-sticky scale-with-grid" src="{% static 'images/bayturbologo.png' %}" data-retina="content/mechanic4/images/logo-retina.png" data-height="36" data-no-retina>
        <img class="logo-mobile scale-with-grid" src="{% static 'images/bayturbologo.png' %}" data-retina="content/mechanic4/images/logo-retina.png" data-height="36" data-no-retina>
        <img class="logo-mobile-sticky scale-with-grid" src="{% static 'images/bayturbologo.png' %}" data-retina="content/mechanic4/images/logo-retina.png" data-height="36" data-no-retina>
      </a>
    </div>
    <div class="menu_wrapper">
      <nav id="menu">
        <ul id="menu-menu" class="menu menu-main">
          <li class="menu-item menu-item-type-custom menu-item-object-custom">
            <a href="#Header_wrapper"><span>Anasyafa</span></a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom">
            <a href="#offer"><span>Hizmetlerimiz</span></a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom">
            <a href="#about"><span>Hakkımızda</span></a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom">
            <a href="#contact"><span>İletişim</span></a>
          </li>
        </ul>
      </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
    </div>
  </div>
</div>
