{% load static %}

<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

 <!-- Basic Page Needs -->
 <meta charset="utf-8">
 <title>{% block title %}{% endblock title %} BayTurbo</title>
 <meta name="description" >
 <meta name="author" >

 <!-- Mobile Specific Metas -->
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 <!-- Favicons -->
 <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

 <!-- FONTS -->
 <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
 <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
 <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,300,400,400italic,500,700,700italic'>

 <!-- CSS -->
 <link rel='stylesheet' href='{% static "css/global.css" %}'>
 <link rel='stylesheet' href='{% static "css/structure.css" %}'>
 <link rel='stylesheet' href='{% static "css/mechanic4.css" %}'>
 <link rel='stylesheet' href='{% static "css/custom.css" %}'>

 {% block header_extra %} {% endblock header_extra %}

</head>

<body class="{% block body_classes %}{% endblock body_classes %}">
  <div id="Wrapper">
    <div id="Header_wrapper">
      <header id="Header">
        <div id="Top_bar">
          <div class="container">
            {% include "partials/header.html" %}
          </div>
        </div>
        {% block rev_slider %} {% endblock rev_slider %}
      </header>
    </div>
    {% block content %} {% endblock content %}
    {% include "partials/footer.html" %}
  </div>
  {% block extra-footer-script %} {% endblock extra-footer-script %}
</body>
</html>
