{% extends 'base.html' %}

{% load static %}

{% block header_extra %}

<!-- Revolution Slider -->
<link rel="stylesheet" href="{% static 'plugins/rs-plugin-5.3.1/css/settings.css' %}">

{% endblock header_extra %}

{% block body_classes %}

home page-template-default page template-slider color-custom style-simple button-flat layout-full-width one-page if-zoom no-content-padding header-transparent minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-line-below-80 menuo-right menuo-no-borders mobile-tb-center mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky be-reg-2115

{% endblock body_classes %}

{% block rev_slider %}

<div class="mfn-main-slider" id="mfn-rev-slider">
  <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:#e2b153;padding:0px;margin-top:0px;margin-bottom:0px;">
    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8.3">
      <ul>
        <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1 data-param2 data-param3 data-param4 data-param5 data-param6 data-param7 data-param8 data-param9 data-param10 data-description>
          <img src="{% static 'plugins/revslider/admin/assets/images/transparent.png' %}"title="Home" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
          <div class="tp-caption tp-resizeme" id="slide-1-layer-1" data-x="right" data-hoffset data-y="bottom" data-voffset data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-basealign="slide" data-responsive_offset="on"data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"style="z-index: 5;"><img src="{% static 'images/slider-garage.jpg' %}" data-ww="963px" data-hh="716px" data-no-retina>
          </div>
          <div class="tp-caption tp-resizeme" id="slide-1-layer-2" data-x="right" data-hoffset="-273" data-y="-216" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-basealign="slide" data-responsive_offset="on"data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"style="z-index: 6;"><img src="{% static 'images/slider-decor2.png' %}"data-ww="600px" data-hh="547px" data-no-retina>
          </div>
          <div class="tp-caption tp-resizeme" id="slide-1-layer-3" data-x="-138" data-y="-33" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on"data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"style="z-index: 7;"><img src="{% static 'images/slider-decor1.png' %}"data-ww="600px" data-hh="547px" data-no-retina>
          </div>
          <div class="tp-caption tp-resizeme" id="slide-1-layer-4" data-x="-77" data-y="bottom" data-voffset="-280" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-basealign="slide" data-responsive_offset="on"data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"style="z-index: 8;"><img src="{% static 'images/slider-decor1.png' %}"data-ww="600px" data-hh="547px" data-no-retina>
          </div>
          <div class="tp-caption tp-resizeme" id="slide-1-layer-5" data-x="123" data-y="174" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on"data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"style="z-index: 9; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #182a98; letter-spacing: 2px;font-family:Poppins;">
            BAY TURBO
          </div>
          <div class="tp-caption tp-resizeme" id="slide-1-layer-6" data-x="123" data-y="235" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on"data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"style="z-index: 10; white-space: nowrap; font-size: 80px; line-height: 80px; font-weight: 700; color: #182a98; letter-spacing: 0px;font-family:Poppins;">
            Uzun
            <br>
            ömürlü
            <br>
            yüksek
            <br>
            performans
          </div>
        </li>
      </ul><div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
  </div>
</div>

{% endblock rev_slider %}

{% block content %}

<div id="Content">
  <div class="content_wrapper clearfix">
    <div class="sections_group">
      <div class="entry-content" >

        <div class="section mcb-section mcb-section-cafb7fce1 bg-cover" style="padding-top:0px; padding-bottom:100px; background-color:#3141a2; background-image:url(content/mechanic4/images/blue-bg.jpg); background-repeat:no-repeat; background-position:center;" >
          <div class="section_wrapper mcb-section-inner">

            <div class="wrap mcb-wrap mcb-wrap-a3e1jcvxu one valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-xlaznp0wl one column_divider">
                  <hr class="no_line" style="margin: 0 auto 50px;">
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-6vvlwzxns one valign-top bg-contain clearfix" style="padding:70px 0; background-image:url('{% static "images/tools-bg.png" %}'); background-repeat:no-repeat; background-position:center;" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-bvjrcdds8 one-sixth column_placeholder">
                  <div class="placeholder">
                    &nbsp;
                  </div>
                </div>
                <div class="column mcb-column mcb-item-jzpl9mnhj two-third column_column">
                  <div class="column_attr clearfix align_center" style>
                    <h5 style="color:#ffeabc">Bay Turbo</h5>
                    <hr class="no_line" style="margin: 0 auto 10px;">
                    <h2 style="color:#ffeabc">Profesyonel Ekipman ve Kadromuz ile
                    <br>
                    Aracınızın Hizmetindeyiz!</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-j7t1fthfq one valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-smcpdmq6u one column_divider">
                  <hr class="no_line" style="margin: 0 auto 50px;">
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-8894k2jn5 one-third valign-top clearfix" style="padding:0 1%" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-nf5kcp7cg one column_column">
                  <div class="column_attr clearfix" style="background-image:url('{% static "images/icon-laptop.png" %}');background-repeat:no-repeat;background-position:left top;padding:0 0 0 95px;">
                    <h3 style="color:#ffeabc; font-size:2.5em; margin-top:0.3em;">Arıza Tespiti</h3>
                    <p style="color:#ffeabc">
                      Turbonuzdan kaynaklanan problemlerinizi son teknoloji cihazlarımız ile tespit ediyoruz
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-cmls9ywv5 one-third valign-top clearfix" style="padding:0 1%" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-jpxsn3ik4 one column_column">
                  <div class="column_attr clearfix" style="background-image:url('{% static "images/icon-worker.png" %}');background-repeat:no-repeat;background-position:left top;padding:0 0 0 95px;">
                    <h2 style="color:#ffeabc; font-size:2.5em;">Turbo Tamiri</h3>
                    <p style="color:#ffeabc">
                      Tespitlerimiz doğrultusunda turbonuzun bakım ve onarım çalışmalarını kısa süre içerisinde gerçekleştiriyoruz
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-vfsnbztii one-third valign-top clearfix" style="padding:0 1%" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-be0s674f7 one column_column">
                  <div class="column_attr clearfix" style="background-image:url('{% static "images/icon-car.png" %}');background-repeat:no-repeat;background-position:left top;padding:0 0 0 95px;">
                    <h2 style="color:#ffeabc; font-size:2.5em;">Yedek Parça</h3>
                    <p style="color:#ffeabc">
                      Her ihtiyacınıza uygun turbo ve yedek parça seçeneklerimiz ile hizmetinizdeyiz
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-v1j3g82yq one valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-cyxrhksh5 one column_divider">
                  <hr class="no_line" style="margin: 0 auto 50px;">
                </div>
                <div class="column mcb-column mcb-item-d1z0aelng one-sixth column_placeholder">
                  <div class="placeholder">
                    &nbsp;
                  </div>
                </div>
                <div class="column mcb-column mcb-item-tnvh3fhpy one-third column_column">
                  <div class="column_attr clearfix align_right mobile_align_center" style="padding:0 1%;">
                    <p style="color:#ffeabc">
                      Aracınız her ne olursa olsun, turboya dair tüm problemlerinizde size hızlı ve güvenilir çözümler sunuyoruz.
                    </p>
                  </div>
                </div>
                <div class="column mcb-column mcb-item-rgjlue3ld one-third column_column">
                  <div class="column_attr clearfix mobile_align_center" style="padding:0 1%;">
                    <p style="color:#ffeabc">
                      Turbonuza ve size hakettiğiniz değeri gösterebilmek adına
                       dünyaca ünlü iş ortaklarımız ile hizmetinizdeyiz
                    </p>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>


        <div class="section mcb-section mcb-section-nuysxeyw7 full-screen bg-cover" id="offer" style="padding-top:125px; padding-bottom:75px; background-color:#e9be6c; background-image:url('{% static "images/offer-bg.jpg" %}'); background-repeat:no-repeat; background-position:center; background-attachment:fixed; background-size:cover; -webkit-background-size:cover" >
          <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap mcb-wrap-ew822qv8x one valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-r20jy239e one column_column">
                  <div class="column_attr clearfix align_center" style>
                    <h5>Size nasıl yardımcı olabiliriz?</h5>
                    <hr class="no_line" style="margin: 0 auto 15px;">
                    <h1>Hizmet
                    <br>
                    ve
                    <br>
                    Ürünlerimiz</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section mcb-section mcb-section-zlfxwvor5" style="padding-top:140px; padding-bottom:0px; background-color:#e9be6c" >
          <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap mcb-wrap-jyc8ear0k one-third valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-1qvf6p0jg two-fifth column_image">
                  <div class="animate" data-anim-type="fadeInLeft">
                    <div class="image_frame image_item no_link scale-with-grid no_border" >
                      <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/01.png' %}" >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column mcb-column mcb-item-9qvlxhpx5 one column_column">
                  <div class="column_attr clearfix" style>
                    <h2>Turbo Bakımı</h2>
                    <hr class="no_line" style="margin: 0 auto 20px;">
                    <p>
                      Turbolar tasarım gereğince sürekli olarak oldukça yüksek devirlerde çalışırlar ve yüksek ısılara maruz kalmaktadırlar.
                      Bu sebeple düzenli olarak bakımları yapılmadığı takdirde, maruz kaldıkları aşındırıcı etkiler turbonuzda performans kaybına ve uzun vadede turbo arızalarına sebep olurlar.
                      Bay Turbo olarak turbolarınızın periyodik bakımları, arıza tespiti ve turbo onarımı gibi konularda hizmetinizdeyiz.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-y3jft3iiz two-third valign-top clearfix" style="padding:0 3%" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-ba20pgzts one column_image">
                  <div class="animate" data-anim-type="fadeInRight">
                    <div class="image_frame image_item no_link scale-with-grid no_border" >
                      <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/01-car.jpg' %}" >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-zurieeie3 divider valign-top clearfix" >
              <div class="mcb-wrap-inner"></div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-eb56941bd one-fourth valign-top clearfix" style="padding:0 1%" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-0242a3ef0 one column_column">
                  <div class="column_attr clearfix animate bg-cover" data-anim-type="zoomIn" style="background-image:url('{% static "images/box-bg-dark-blue-star.png" %}');background-repeat:no-repeat;background-position:right bottom;padding:35px 35px 0;">
                    <h2 style="color:#ffeabc;"></h2>
                    <hr class="no_line" style="margin: 0 auto 15px;">
                    <h4 style="color:#ffeabc;">Binek Araç Turboları</h4>
                    <p style="color:#ffeabc;">
                      Her marka ve modelden binek araçlar için, orjinal yedek parça temini ve bakımı.
                    </p>
                    <hr class="no_line" style="margin: 0 auto 120px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-tkr0qssau one-fourth valign-top clearfix" style="padding:0 1%" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-hw8a9xn3z one column_column">
                  <div class="column_attr clearfix bg-cover" style="background-image:url('{% static "images/box-bg-dark-blue.png" %}');background-repeat:no-repeat;background-position:right bottom;padding:35px 35px 0;">
                    <h2 style="color:#ffeabc;"></h2>
                    <hr class="no_line" style="margin: 0 auto 15px;">
                    <h4 style="color:#ffeabc;">Ağır Vasıta Turboları</h4>
                    <p style="color:#ffeabc;">
                      Kamyon ve otobüs gibi ağır vasıtalar için, orjinal yedek parça temini ve servisi.
                    </p>
                    <hr class="no_line" style="margin: 0 auto 120px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-mu4g1e3ms one-fourth valign-top clearfix" style="padding:0 1%" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-qezvv2d2v one column_column">
                  <div class="column_attr clearfix bg-cover" style="background-image:url('{% static "images/box-bg-dark.png" %}');background-repeat:no-repeat;background-position:right bottom;padding:35px 35px 0;">
                    <h2 style="color:#ffeabc;"></h2>
                    <hr class="no_line" style="margin: 0 auto 15px;">
                    <h4 style="color:#ffeabc;">İş Makinası Turboları</h4>
                    <p style="color:#ffeabc;">
                      Tüm iş makinalarınız için turbo bakımı ve orjinal yedek parça temini.
                    </p>
                    <hr class="no_line" style="margin: 0 auto 120px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-9x7wo3k6w one-fourth valign-top clearfix" style="padding:0 1%" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-9iv9bhubt one column_column">
                  <div class="column_attr clearfix bg-cover" style="background-image:url('{% static "images/box-bg-dark.png" %}');background-repeat:no-repeat;background-position:right bottom;padding:35px 35px 0;">
                    <h2 style="color:#ffeabc;"></h2>
                    <hr class="no_line" style="margin: 0 auto 15px;">
                    <h4 style="color:#ffeabc;">Marin Turboları</h4>
                    <p style="color:#ffeabc;">
                      Gemi ve teknelerinizin turbo bakımları ve orjinal yedek parça temini.
                    </p>
                    <hr class="no_line" style="margin: 0 auto 120px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-qxbdbj6sy one valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-iri3i98yv one column_divider">
                  <hr class="no_line" style="margin: 0 auto 50px;">
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-b7sqzb4qs two-fifth valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-qlpz32ppk five-sixth column_progress_bars">
                  <div class="progress_bars">
                    <ul class="bars_list">
                      <li>
                        <h6>Uzun Ömür<span class="label">100<em>%</em></span></h6>
                        <div class="bar" style="height:10px">
                          <span class="progress" style="width:100%"></span>
                        </div>
                      </li>
                      <li>
                        <h6>Yüksek Performans<span class="label">100<em>%</em></span></h6>
                        <div class="bar" style="height:10px">
                          <span class="progress" style="width:100%"></span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-61u58d70n three-fifth valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-bkhbsmyqo two-third column_column">
                  <div class="column_attr clearfix" style="padding:0 4%;">
                    <p>
                      Benzinli uygulamalarda bir turboşarj 1050C sıcaklıkta dakikada ortalama 200.000 devirle çalışmaktadır. Dizel uygulamalarda bu 850C sıcaklığı ve dakikada 180.000 deviri bulmaktadır.
                    </p>
                    <p>

                    </p>
                  </div>
                </div>
                <div class="column mcb-column mcb-item-i2xjybnow one-third column_image">
                  <div class="image_frame image_item no_link scale-with-grid no_border" >
                    <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/01-car-icon.png' %}" >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section mcb-section" style="padding-top:120px; padding-bottom:55px; background-color:#e9be6c">
          <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap one-third valign-top clearfix">
              <div class="mcb-wrap-inner">
                <div class="column mcb-column two-fifth column_image">
                  <div class="animate" data-anim-type="fadeInLeft">
                    <div class="image_frame image_item no_link scale-with-grid no_border">
                      <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/02.png' %}">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column mcb-column one column_column">
                  <div class="column_attr clearfix">
                    <h2>Yedek Parça ve Servis</h2>
                    <hr class="no_line" style="margin: 0 auto 20px;">
                    <p>
                      Turbolar uzun süreler boyunca zorlu koşullar altında çalışacak şekilde imal edilmektedir fakat yanlış parça kullanımı turbonuzun performansını ve ömrünü önemli ölçüde düşürebilir.
                      Turbonuzun marka ve modeli her ne olursa olsun, geniş yelpazedeki iş ortaklarımız aracılığıyla ihtiyacınıza uygun parçaların temini ve servisi konularında yanınızdayız.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap  two-third valign-top clearfix" style="padding:0 3%">
              <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_image">
                  <div class="animate" data-anim-type="fadeInRight">
                    <div class="image_frame image_item no_link scale-with-grid no_border">
                      <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/04-gears.jpg' %}">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap  divider valign-top clearfix">
              <div class="mcb-wrap-inner"></div>
            </div>
            <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 1%">
              <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_column">
                  <div class="column_attr clearfix bg-cover" style="background-image:url('{% static "images/box-bg-dark-blue.png" %}');background-repeat:no-repeat;background-position:right bottom;padding:35px 35px 0;">
                    <h4 style="color:#ffeabc;">Parça Temini</h4>
                    <hr class="no_line" style="margin: 0 auto 15px;">
                    <p style="color:#ffeabc;">
                      İş makinaları, Ağır vasıtalar ve Binek otomobiller için her marka ve modelde orjinal yedek parça temini ve montajı hizmetimiz ile yanınızdayız
                    </p>
                    <hr class="no_line" style="margin: 0 auto 120px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap one-fourth valign-top clearfix" style="padding:0 1%">
              <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_column">
                  <div class="column_attr clearfix bg-cover" style="background-image:url('{% static "images/box-bg-dark.png" %}');background-repeat:no-repeat;background-position:right bottom;padding:35px 35px 0;">
                    <h4 style="color:#ffeabc;">Servis Hizmeti</h4>
                    <hr class="no_line" style="margin: 0 auto 15px;">
                    <p style="color:#ffeabc;">
                      Turbolarınızın periyodik bakımları ve arıza tespiti hizmetleri
                    </p>
                    <hr class="no_line" style="margin: 0 auto 120px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap one-fourth valign-top clearfix" style="padding:0 1%">
              <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_column">
                  <div class="column_attr clearfix animate bg-cover" data-anim-type="zoomIn" style="background-image:url('{% static "images/box-bg-dark-blue-star.png" %}');background-repeat:no-repeat;background-position:right bottom;padding:35px 35px 0;">
                    <h4 style="color:#ffeabc;">Performans YÜkseltme</h4>
                    <hr class="no_line" style="margin: 0 auto 15px;">
                    <p style="color:#ffeabc;">
                      Aracınız için yüksek performans çözümleri
                    </p>
                    <hr class="no_line" style="margin: 0 auto 120px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap  divider valign-top clearfix">
              <div class="mcb-wrap-inner"></div>
            </div>
            <div class="wrap mcb-wrap one valign-top clearfix">
              <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_divider">
                  <hr class="no_line" style="margin: 0 auto 50px;">
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap  two-fifth valign-top clearfix">
              <div class="mcb-wrap-inner">
                <div class="column mcb-column five-sixth column_progress_bars">
                  <div class="progress_bars">
                    <ul class="bars_list">
                      <li>
                        <h6>Müşteri Memnuniyeti<span class="label">100<em>%</em></span></h6>
                        <div class="bar" style="height:10px">
                          <span class="progress" style="width:100%"></span>
                        </div>
                      </li>
                      <li>
                        <h6>Orjinal Ürün Garantisi<span class="label">100<em>%</em></span></h6>
                        <div class="bar" style="height:10px">
                          <span class="progress" style="width:1000%"></span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap  three-fifth valign-top clearfix">
              <div class="mcb-wrap-inner">
                <div class="column mcb-column two-third column_column">
                  <div class="column_attr clearfix" style="padding:0 4%;">
                    <p>
                      Turbonuzda meydana gelen en ufak bir arıza, zamanında müdahele edilmediği takdirde turbonuzda uzun vadeli perfomans kaybı ve turbonuzun iflasına kadar uzanan daha büyük sorunlara sebep olacaktır.
                    </p>
                  </div>
                </div>
                <div class="column mcb-column one-third column_image">
                  <div class="image_frame image_item no_link scale-with-grid no_border">
                    <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/icon-car-broke.png' %}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section mcb-section mcb-section-etw2es946 no-margin-v full-screen bg-cover" id="about" style="padding-top:125px; padding-bottom:75px; background-color:#e9be6c; background-image:url('{% static "images/man-repairign-engine.jpg" %}'); background-repeat:no-repeat; background-position:center; background-attachment:fixed; background-size:cover; -webkit-background-size:cover" >
          <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap mcb-wrap-aejr5yelp one valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-y8ke1jkc8 one column_column">
                  <div class="column_attr clearfix align_center" style>
                    <h5>BAY TURBO</h5>
                    <hr class="no_line" style="margin: 0 auto 15px;">
                    <h1>Uzman kadromuz ve
                    <br>
                    profesyonel ekipmanlarımızla
                    <br>
                    yanınızdayız!</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section mcb-section mcb-section-04w655elr" style="padding-top:100px; padding-bottom:100px; background-color:" >
          <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap mcb-wrap-cfptau094 one valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-dvftvow12 one-second column_column">
                  <div class="column_attr clearfix" style>
                    <h2>Yüksek Performans
                    <br>
                    Hızlı Çözümler
                    <br>
                    Güleryüzlü Hizmet</h2>
                    <hr class="no_line" style="margin: 0 auto 15px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-0ghznpe5d one-second valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-34ko63zar one column_column">
                  <div class="column_attr clearfix" style>
                    <h3>Çalışma Saatleri</h3>
                    <hr class="no_line" style="margin: 0 auto 15px;"><p></p>
                    <hr class="no_line" style="margin: 0 auto 10px;">
                    <div class="opening_hours" >
                      <div class="opening_hours_wrapper">
                        <ul style="margin:0;">
                          <li >
                            <label ><b>Pazartesi - Cumartesi</label><span>08<sup>00</sup> - 19<sup>00</sup></span></b>
                          </li>
                          <li >
                            <label><b>Pazar</label><span>12<sup>00</sup> - 18<sup>00</sup></span></b>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-a884qhco5 one-second valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-eprs18k2d one column_column">
                  <div class="column_attr clearfix" style>
                    <h3>Misyonumuz</h3>
                    <hr class="no_line" style="margin: 0 auto 15px;">
                    <p>
                      <b>Müşterilerimiz ile uzun vadeli güvene dayalı ilişkiler kurmak ve müşteri memnuniyetini en üst seviyede tutarak yüksek kalitede hizmet verebilmek adına bu yola çıktık</b>
                    </p>
                    <hr class="no_line" style="margin: 0 auto 10px;">
                    <p>
                      Bu amacımızı gerçekleştirmek adına sektörün önde gelen firmalarıyla birlikte çalışıyor ve uzun vadeli çözümler üreterek sizlerin memnuniyetini herşeyin önüne koyuyuoruz.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-swxez5roz one valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-nqqf2g30v one column_divider">
                  <hr class="no_line" style="margin: 0 auto 75px;">
                </div>
                <div class="column mcb-column mcb-item-3clz6kzv4 three-fifth column_column column-margin-0px">
                  <div class="column_attr clearfix" style>
                    <h2>Dünyaca ünlü markalara
                    <br>
                    açılan kapınız</h2>
                  </div>
                </div>
                <div class="column mcb-column mcb-item-4ymwb2ysn one column_clients_slider">
                  <div class="clients_slider">
                    <div class="clients_slider_header"></div>
                    <ul class="clients clients_slider_ul">
                      <li>
                        <div class="client_wrapper">
                          <a target="_blank" href="#" title="client1"><img src="{% static 'images/bayturboGarett.png' %}" class="scale-with-grid wp-post-image"></a>
                        </div>
                      </li>
                      <li>
                        <div class="client_wrapper">
                          <a target="_blank" href="#" title="client2"><img src="{% static 'images/bayturboIHI.png' %}" class="scale-with-grid wp-post-image"></a>
                        </div>
                      </li>
                      <li>
                        <div class="client_wrapper">
                          <a target="_blank" href="#" title="client3"><img src="{% static 'images/HolsetLogo-white-01.png' %}" class="scale-with-grid wp-post-image"></a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section mcb-section mcb-section-9w29fel5u bg-cover" id="contact" style="padding-top:150px; padding-bottom:150px; background-color:#3141a2; background-image:url('{% static "images/blue-bg.jpg" %}'); background-repeat:no-repeat; background-position:center;" >
          <div class="section_wrapper mcb-section-inner">
            <div class="wrap mcb-wrap mcb-wrap-6un43i3xc one valign-top clearfix" style="background-image:url('{% static "images/wrap-bg.png" %}'); background-repeat:no-repeat; background-position:center;" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-96l9bc79n one-fifth column_placeholder">
                  <div class="placeholder">
                    &nbsp;
                  </div>
                </div>
                <div class="column mcb-column mcb-item-2qr5ajtyh three-fifth column_column">
                  <div class="column_attr clearfix align_center" style>
                    <h5 style="color:#ffeabc;">BİZE ULAŞIN</h5>
                    <hr class="no_line" style="margin: 0 auto 10px;">
                    <h1 style="color:#ffeabc;">Soru ve görüşlerinizi
                    <br>
                    bizimle paylaşın</h1>
                  </div>
                </div>
                <div class="column mcb-column mcb-item-pf2rgcnsp one column_divider">
                  <hr class="no_line" style="margin: 0 auto 100px;">
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-umnr3relc divider valign-top clearfix" >
              <div class="mcb-wrap-inner"></div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-stbg4nmdx one-third valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-jc4cpwiwt one-fifth column_image">
                  <div class="image_frame image_item no_link scale-with-grid no_border" >
                    <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/localization.png'%}" >
                    </div>
                  </div>
                </div>
                <div class="column mcb-column mcb-item-yte0jdgv8 three-fourth column_column">
                  <div class="column_attr clearfix" style="padding:20px 3% 0 15px;">
                    <h3 style="color:#ffeabc;">Adres</h3>
                    <p style="color:#ffeabc;">
                      Gaziosmanpaşa Mahallesi<br>
                      Yeni Okul Caddesi No: 51<br>
                      Bergama / İzmir
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-iqpvmzkqf one-third valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-2yzu67ty5 one-fifth column_image">
                  <div class="image_frame image_item no_link scale-with-grid no_border" >
                    <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/chat.png' %}" >
                    </div>
                  </div>
                </div>
                <div class="column mcb-column mcb-item-r6kh9juym three-fourth column_column">
                  <div class="column_attr clearfix" style="padding:20px 3% 0 15px;">
                    <h3 style="color:#ffeabc;">Whatsapp</h3>
                    <p style="color:#ffeabc;">
                      <a href="https://wa.link/m7wq7e" style="color: white;">Buraya tıklayarak</a> Whatsapp<br>
                      üzerinden 7/24 bize ulaşın!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-ctbs2vhuu one-third valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-4i5n6wb4l one-fifth column_image">
                  <div class="image_frame image_item no_link scale-with-grid no_border" >
                    <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/envelope.png' %}" >
                    </div>
                  </div>
                </div>
                <div class="column mcb-column mcb-item-b5gjv6gwb three-fourth column_column">
                  <div class="column_attr clearfix" style="padding:20px 3% 0 15px;">
                    <h3 style="color:#ffeabc;">Email</h3>
                    <p style="color:#ffeabc;"><a href="" style="color: white;">Buraya tıklayarak</a> bize mail ile erişebilirsiniz.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrap mcb-wrap mcb-wrap-g48taj765 one valign-top clearfix" >
              <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-tu8vax8st one column_divider">
                  <hr class="no_line" style="margin: 0 auto 100px;">
                </div>
                <div class="column mcb-column mcb-item-tl4l1ppse one-sixth column_placeholder">
                  <div class="placeholder">
                    &nbsp;
                  </div>
                </div>
                <div class="column mcb-column mcb-item-884yg3xkc two-third column_column">
                  <div class="column_attr clearfix" style>
                    <div id="contactWrapper">
                     <form id="contactform">
                     <!-- One Second (1/2) Column -->
                     <div class="column one-second">
                     <input placeholder="Adınız" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false" />
                     </div>
                     <!-- One Second (1/2) Column -->
                     <div class="column one-second">
                     <input placeholder="Email Adresiniz" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false" />
                     </div>
                     <div class="column one">
                     <input placeholder="Konu" type="text" name="subject" id="subject" size="40" aria-invalid="false" />
                     </div>
                     <div class="column one">
                     <textarea placeholder="Mesajınız" name="body" id="body" style="width:100%;" rows="10" aria-invalid="false"></textarea>
                     </div>
                     <div class="column one">
                     <input type="button" value="Gönder" id="submit" onClick="return check_values();">
                     </div>
                     </form>
                     </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra-footer-script %}

<!-- JS -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>

<script src="{% static 'js/mfn.menu.js' %}"></script>
<script src="{% static 'js/jquery.plugins.js' %}"></script>
<script src="{% static 'js/jquery.jplayer.min.js' %}"></script>
<script src="{% static 'js/animations/animations.js' %}"></script>
<script src="{% static 'js/translate3d.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/email.js' %}"></script>

 <script src="{% static 'plugins/rs-plugin-5.3.1/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'plugins/rs-plugin-5.3.1/js/jquery.themepunch.revolution.min.js' %}"></script>

<script src="{% static 'plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.video.min.js' %}"></script>
<script src="{% static 'plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.parallax.min.js' %}"></script>


 <script>

 var revapi1, tpj;
 ( function() {
     if (!/loaded|interactive|complete/.test(document.readyState))
       document.addEventListener("DOMContentLoaded", onLoad);
     else
       onLoad();
     function onLoad() {
       if (tpj === undefined) {
         tpj = jQuery;
         if ("off" =="on")
           tpj.noConflict();
       }
       if (tpj("#rev_slider_1_1").revolution == undefined) {
         revslider_showDoubleJqueryError("#rev_slider_1_1");
       } else {
         revapi1 = tpj("#rev_slider_1_1").show().revolution({
           sliderType :"standard",
           sliderLayout :"auto",
           dottedOverlay :"none",
           delay : 9000,
           navigation : {
             onHoverStop :"off",
           },
           visibilityLevels : [1240, 1024, 778, 480],
           gridwidth : 1240,
           gridheight : 868,
           lazyType :"none",
           shadow : 0,
           spinner :"spinner2",
           stopLoop :"off",
           stopAfterLoops : -1,
           stopAtSlide : -1,
           shuffle :"off",
           autoHeight :"off",
           disableProgressBar :"on",
           hideThumbsOnMobile :"off",
           hideSliderAtLimit : 0,
           hideCaptionAtLimit : 0,
           hideAllCaptionAtLilmit : 0,
           debugMode : false,
           fallbacks : {
             simplifyAll :"off",
             nextSlideOnWindowFocus :"off",
             disableFocusListener : false,
           }
         });
       };
     };
   }());
 </script>


{% endblock extra-footer-script %}
